# --- Web Framework ---
flask==3.1.2

# --- AI / Machine Learning ---
tensorflow==2.20.0
tensorflow-hub==0.16.1
keras==3.11.3
scikit-learn==1.7.2
tensorflow-io==0.37.1

# --- Audio Processing ---
librosa==0.11.0
soundfile==0.13.1
soxr==1.0.0

# --- Data & Math ---
numpy==2.3.4
matplotlib==3.10.7
scipy==1.16.2

# --- Utilities ---
requests==2.32.5
